<header>
  <nav id="navbar">
    <ul>
      <% if (locals.currentUser) { %>
      <li>
        <a class="link" href="/new-message">
          <%- include('../icons/send') %> Send a new message
        </a>
      </li>
      <li>
        <a class="link" href="/logout">
          <%- include('../icons/logout') %> Logout
        </a>
      </li>

      <% if (!currentUser.vip) { %>
      <li>
        <a class="link" href="/join-vip">
          <%- include('../icons/vip') %> Join VIP
        </a>
      </li>
      <% } %>

      <% if (!currentUser.admin) { %>
      <li>
        <a class="link" href="/join-admin">
          <%- include('../icons/admin') %>
          Join Admin
        </a>
      </li>
      <% } %>

      <% } else { %>
      <li>
        <a class="link" href="/login">
          <%- include('../icons/login') %> Login
        </a>
      </li>
      <li>
        <a class="link" href="/sign-up">
          <%- include('../icons/signup') %> Sign Up
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
