<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title><%= title %></title>
    <style>
      main {
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1>
        <%= title %>
        😢
      </h1>
      <p><%= message %></p>
      <a class="link" href="/"><%- include('icons/home') %> Back to Home</a>
    </main>
  </body>
</html>
