<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/commonHeadTags') %>
    <title>Anonym</title>
  </head>
  <body>
    <h1 class="title">
      Welcome <%= locals.currentUser?.username || 'to Anonym' %>
    </h1>
    <% if (locals.currentUser) { %>
    <a href="/new-message">Create a new message</a>
    <a href="/logout">Logout</a>

    <% if (!currentUser.vip) { %>
    <a href="/join-vip">Join VIP</a>
    <% } %>

    <% if (!currentUser.admin) { %>
    <a href="/join-admin">Join Admin</a>
    <% } %>

    <% } else { %>
    <a href="/sign-up">Sign Up</a>
    <a href="/login">Login</a>
    <% } %>

    <h2>Messages</h2>
    <ul>
      <% for (const message of locals.messages) { %>
      <li>
        <h3><%= message.title %></h3>
        <span>
          by
          <%= message.author %>
        </span>
        <p><%= message.content %></p>
        <small><%= message.date %></small>
      </li>

      <% if (locals.currentUser?.admin) { %>
      <form action="delete-message/<%= message.id %>" method="post">
        <button type="submit">Delete</button>
      </form>
      <% } %>

      <% } %>
    </ul>
  </body>
</html>
